[2020-01-14 10:13] andymantell opened #1 "More documentation"
Any readme at all would be better than the nothing that is currently in place

[2020-01-14 10:14] andymantell opened #2 "Consider whether we need to use forwardRef on all the components"
Consider whether we need to use forwardRef on all the components so that apps using this package can get a ref to the resulting dom element

[2020-01-14 10:14] andymantell opened #3 "Add "worst case" examples for each component"
The examples coming from the govuk-frontend yaml files cover a lot of bases but have in the past missed a couple of parameter combinations. Would be good to build a worst case scenario for each component that definitely exercised all of the parameters - so we can ensure that our rendering is correct against the reference nunjucks

[2020-01-14 10:14] andymantell opened #4 "Document wrapping component for date input"
Using the date input with a form library like Formik causes problems because it is not able to handle a top level value prop. You need to wrap the component and create an "adapter" of sorts. We should document this...

[2020-01-14 10:15] andymantell opened #5 "Controlled radio demo needs an onchange handler"
The new controlled radio input demo is currently read only as there is no onChange handler. Needs sorting out. It's only an issue in the demo, not in the installed version, but is easily fixed.

[2020-01-14 10:18] andymantell opened #6 "Add more demos around interacting with the components"
Current gov examples don't demo things like change handlers, click handlers etc. Would be good to demo some

[2020-01-14 10:19] andymantell opened #7 "Remove ignoreAttributes: ['style'] from nunjucks diffing code"
Nunjucks diffiing code has ignoreAttributes: ['style'] - need to remember why, and see if we can remove it

[2020-01-14 10:19] andymantell opened #8 "Look for guarded access to deep object properties and replace with optional chaining"

[2020-01-14 10:20] andymantell opened #9 "Document that selected property of select items no longer exists"
Document that selected property of select items no longer exists (Since it's just value on the select element in React) (And add test for it)

[2020-01-14 10:20] andymantell opened #10 "Align eslint / prettier config etc with Surevine standards"
https://github.com/wesbos/eslint-config-wesbos

[2020-01-14 10:26] andymantell opened #11 "Document usage with create-react-app"
Would be good to create a new react app, and document the steps needed to install this repo

[2020-01-14 15:43] andymantell opened #13 "Build package publishing pipeline"
Github actions preferably, but maybe Travis if that doesn't work out.
Needs to:

- run tests
- run linting
- deploy github pages when code hits master
- release packages when tags are created

[2020-01-15 14:47] andymantell commented on #1
Fixed by #15

[2020-01-15 14:47] #1 closed

[2020-01-15 14:47] andymantell commented on #5
Fixed by #14

[2020-01-15 14:47] #5 closed

[2020-01-15 14:47] andymantell commented on #9
Fixed by #15

[2020-01-15 14:47] #9 closed

[2020-01-15 14:55] andymantell opened #16 "Don't use Transport on the storybook demo"
The Transport font has a very restrictive licence dictating which domains it can be used on - we shouldn't be using it on the github.io demo

[2020-01-15 15:07] andymantell opened #17 "Add examples of integrating with Formik"

[2020-01-15 15:13] #16 closed

[2020-01-16 09:30] #10 closed

[2020-01-16 11:26] andymantell opened #19 "Add more demo stories for the Template component"
Need to demonstrate what it can do - like header and footer etc

[2020-01-16 16:11] andymantell opened #21 "<Header> component can't accept React router `to`prop for the homepageUrl or serviceUrl"
<Header> component can't accept React router `to`prop for the homepageUrl or serviceUrl

Should be able to remove `href` from the ignoreAttributes section in the html diffing test once this is fixed?

[2020-01-17 09:23] andymantell opened #22 "Test suite complains about lack of onChange handlers on form elements"
Test suite complains about lack of onChange handlers on form elements. Doesn't affect validity of test results but the red warnings are alarming if you don't know what they are. And a habit of ignoring warnings may lead to genuine things being missed in future. Need to sort this out...

[2020-01-17 09:58] andymantell opened #23 "Storybook components need to be sorted"
For some reason the storybook components don't come out in alphabetic order - they're random which makes it a bit annoying.

[2020-01-17 10:02] #3 closed

[2020-01-17 10:06] andymantell commented on #13
Have put a temporary Travis CI pipeline in place until we find out whether GitHub actions is going to be possible on the Surevine account

[2020-01-17 10:08] andymantell opened #24 "Consider whether test suite should run against the built package"
At the moment the test suite runs against the source files but for additional confidence I wonder if we should be running the test suite against the build output - so that we can be sure the package is good.

[2020-01-17 12:29] andymantell opened #26 "Intermittent tests failures from the auto generated worst case examples"
Seem to get occasional intermittent tests failures from the auto generated worst case examples. There's a random component in the generation of the examples that is likely to blame.

[2020-01-17 14:28] andymantell commented on #11
Fixed by #25

[2020-01-17 14:28] #11 closed

[2020-01-17 14:29] andymantell commented on #17
1 example done as part of #25, but could do with more different types of inputs

[2020-01-17 14:36] #7 closed

[2020-01-17 14:51] andymantell opened #27 "Cache govuk-frontend examples from github"
govuk-frontend examples are fetched from github every time the tests run. Since they are coming from a tagged version this is unnecessary - they should be cached. (Currently writing this ticket from a train!)

[2020-01-17 16:26] andymantell commented on #17
With particular reference to the placement of onChange handlers

[2020-01-17 16:30] andymantell opened #29 "Consider onBlur, onInput and other form field specific events for DateInput, Radios and Checkboxes"
Consider onBlur, onInput and other form field specific events for DateInput, Radios and Checkboxes. Since these components are effectively "compound" fields, we don't by default spread the top level props into the individual inputs (Since they are built from the `items` prop). This means that putting top level onBlur handlers in doesn't actually work. onChange works because I have specifically cat

[2020-01-17 16:36] #22 closed

[2020-01-20 14:07] andymantell opened #32 "When releasing a build from a tag, check git tag version matches that in package.json"
When releasing a build from a tag, check git tag version matches that in package.json in TravisCI - to prevent the two getting out of step. Git tags can be deleted but released packages cannot...

Alternatively, can we manage the versions in package.json better - i.e. directly connect them to the git tag

[2020-01-20 14:52] andymantell commented on #13
Done in Travis

[2020-01-20 14:52] #13 closed

[2020-01-21 13:57] andymantell opened #33 "Update to govuk-frontend @ 3.5.0"
https://github.com/alphagov/govuk-frontend/releases/tag/v3.5.0

[2020-01-22 08:47] andymantell commented on #33
Fixed by #34

[2020-01-22 08:47] #33 closed

[2020-01-23 09:56] #23 closed

[2020-01-23 11:27] andymantell opened #35 "When auto importing a component in VSCode, /gov is suffixed to component paths"
When auto importing a component in VSCode, /gov is suffixed to component paths. For example `import { Button } from 'govuk-react-jsx/gov'` but this isn't necessary. Need to investigate where this is coming from

[2020-02-03 11:24] brightpixels opened #36 "Include differences between this project and govuk-react/govuk-react in the README"
Hello,
Is it possible to include pros and cons of this repo, compared to https://github.com/govuk-react/govuk-react. In the motivation section, maybe say why you started this repo instead of contributing to govuk-react repo as the aim is the same.

Both look to me can do the job (i.e. react-based GDS components). Downside for me with https://github.com/govuk-react/govuk-react is that not much acti

[2020-02-04 08:35] andymantell commented on #36
Hi @brightpixels ,

Fair point - I will have a go at clarifying this.  For your purposes immediately, the main differences are as follows:

govuk-react does not consume the govuk-frontend code - it is an _implementation_ of the govuk-design-system - i.e. it looks like the design system, but it is not using any of the original GDS code. CSS has been rebuilt from the ground up, JavaScript behaviours

[2020-02-04 10:17] brightpixels commented on #36
This is exactly what's needed in the README. Thank you. But could you also mention any potential downsides you could foresee just to be objectives. What use cases you don't recommend and recommended setup etc.

When you say directly pulled from GDS, are you saying this project will always be in sync with GDS and doesn't depend on the maintainers efforts to stay up to date?

I am happy to raise PR

[2020-02-04 10:30] andymantell commented on #36
The CSS and JS are pulled directly from govuk-frontend and require "no effort" to keep up to date apart from updating the govuk-frontend version number in package.json. The effort lies in porting any changes to the govuk-frontend Nunjucks templates across to JSX / React. Most of the time this is pretty minimal.

The downsides of this vs govuk-react are mostly "developer experience" I guess - as al

[2020-02-04 10:32] andymantell commented on #36
In terms of recommended setup, there's a codesandbox with the basics running inside create-react-app:

https://codesandbox.io/s/govuk-react-jsx-cra-jeiku

[2020-02-04 10:48] brightpixels commented on #36
The other question is around the point in the README: "strike a balance between mirroring the GOV.UK Nunjucks params vs ideomatic React props"

As a consumer of this repo, how do I know when to use GDS classnames because there is no React component available (e.g. grid-col) and when I can use a React component (e.g. <Panel>). Is it a matter of looking at Storybook?

Also, to be clear, why haven't

[2020-02-04 11:01] andymantell commented on #36
Yeah I think it's a case of reading the storybook - everything that's available is in there. But maybe there could be a sentence in the readme along these lines:

"This repository includes components for all the govuk-frontend components, but does not include components for smaller base styles like headings, paragraphs, links etc"

As for _why_, that is a good question. I think initially it was a

[2020-02-04 12:33] brightpixels commented on #36
Thank you the quick replies. Very useful.

The fact that you cover all components listed here https://design-system.service.gov.uk/components/ as React components, is really good. Only feedback is to keep naming consistent with GDS (e.g. text input vs input).

I would make this sentence as early as possible in the README:

[code]

"I guess we are mostly just talking about typography and grid aren'

[2020-02-04 12:43] andymantell commented on #36
Technically that is GDS being inconsistent with themselves! In their GitHub repository, text input is known as input. See https://github.com/alphagov/govuk-frontend/tree/master/src/govuk/components/input

I'll collate all the above feedback and drop it into the readme the next time I get a moment. Thanks very much for your thoughts.

I'll open a separate ticket for creating grid and typography com

[2020-02-04 12:45] andymantell opened #37 "Consider whether to include components for grid and typography(headings and paragraphs.)"
As per the discussion in #36 - consider whether to include components for grid and typography like headings and paragraphs.

Hadn't initially included these since they weren't "components" per se, but I see no reason not to include them, and it would make things like `<p className="govuk-body">` less onerous to type...

[2020-02-10 10:32] andymantell commented on #36
@brightpixels Could you have a look at #38 when you get a chance and let me know if you think it successfully clarifies the questions you originally had? Thanks!

[2020-02-10 11:55] andymantell opened #42 "ErrorSummary not linking correctly to Input field on Codesandbox demo"
On the Codesandbox demo here:

https://codesandbox.io/s/govuk-react-jsx-cra-formik-s833k

The error summary does not correctly link to the input field. Need to investigate why - it works fine in the storybook demo...

[2020-02-10 15:36] andymantell commented on #42
Works fine if I take the exact code from the codesandbox. So the bug is unique to when the code is running in codesandbox :-/

[2020-02-10 15:41] andymantell opened #43 "Transition away from Codesandbox for demos"
Codesandbox seems to have some strange behaviour, resulting in bugs like #42 which runs fine locally, but breaks in codesandbox. The best bet for removing any issues like this would be to move away from Codesandbox and perhaps have a dedicated demo repository on github pages.

[2020-02-10 15:42] andymantell commented on #42
Closing as this seems to be unique to codesandbox - but have added issue to transition away from codesandbox

[2020-02-10 16:01] #42 closed

[2020-02-10 16:02] andymantell commented on #8
Have had a scan through and can't see any more instances of this - they've been replaced gradually over time

[2020-02-10 16:02] #8 closed

[2020-02-11 08:32] #2 closed

[2020-02-11 08:56] #36 closed

[2020-02-11 10:24] brightpixels commented on #36
Love it. Thank you.

[2020-02-16 01:43] brightpixels opened #45 "Forward ref for checkboxes"
Hello,
I am trying to use checkboxes (https://surevine.github.io/govuk-react-jsx/?path=/story/checkboxes--with-optional-form-group-classes-showing-group-error) and with React-hook-form (https://react-hook-form.com/get-started/).

I am having problems passing a ref attribute and getting this error:
[code]

I am trying to do this:
[code]

Adding `ref={register({required: true})}` to other components

[2020-02-16 02:17] brightpixels opened #46 "How to turn on validation errors for conditional fields"
Hello,
I am struggling to work out how to turn on validation errors for conditional fields.

For example: https://surevine.github.io/govuk-react-jsx/?path=/story/checkboxes--with-optional-form-group-classes-showing-group-error

The phone number should only show if the checkbox is 'touched' and the input is blank (or fails validation). The error is part of the children array for the conditional and

[2020-02-17 07:50] andymantell commented on #45
@brightpixels I don't use forwardRef on the checkboxes, radios and date input components because they can represent multiple form elements. So instead of taking a top level ref prop, the individual items take a ref. So in your example, you could put a ref in the first object inside the items array :
[code]
This would get you a reference to the checkbox.

Also worth noting, the demo code from the s

[2020-02-17 08:10] andymantell commented on #46
Hi. Can you confirm that you are using `react-form-hooks` or `react-hook-form`. You state that you are using `react-form-hooks`, but the code examples in ticket #45 would suggest you are using `react-hook-form`

[2020-02-17 09:40] andymantell commented on #46
Assuming you are using `react-hook-form`, I have put together a demo of simple field validation as well as conditional field validation.

I don't think conditional field validation is supported by `react-hook-form` on it's own, or at least I couldn't see how to make it work. It only seems to cater for simple field-level validation. I have therefore used `yup` (Since react-hook-form provides an opt

[2020-02-17 09:42] andymantell commented on #45
Also, please make sure you are using the latest version if you aren't already - forwardRef only got introduced in the latest 1.3.0

[2020-02-17 16:34] brightpixels commented on #46
Sorry about the typo, and you are right, I meant react-hook-form!!! Thanks very much, this is perfect.

[2020-02-17 16:34] #46 closed

[2020-02-17 16:42] brightpixels commented on #45
Thank you.

[2020-02-17 16:46] brightpixels commented on #45
If there were several items (e.g. email, phone, etc), should  They take the same ref? Specially for a radio because from a set of radio options, there should be just a single value.

[2020-02-17 16:59] brightpixels commented on #45
"Also worth noting, the demo code from the storybook shows rendered output being sent as conditional children, but you can also pass full JSX here - i.e. actual components"

Just to be clear, are you talking about the `children` property under `conditional` property? If so, that's handy to know.

[2020-02-18 08:03] andymantell commented on #45
I'll try and put together a radios demo with react-hook-form and see what happens. Multiple elements cannot have the same ref.

As for the children property - yes, that is true of all `children` props - they can all take JSX. The reason it's rendered as html there is because the contents for those demos is coming from the govuk examples which is in html. I'm gonna log a new issue to consider doing

[2020-02-18 08:05] andymantell opened #47 "Consider hand crafting the storybook demos instead of using govuk examples (Relegating these to tests only)"
As per the comment at https://github.com/surevine/govuk-react-jsx/issues/45#issuecomment-587084404 it is not immediately clear upon viewing the storybook that you can pass components to children props and not just html. The html in the demos is technically in JSX form, implying that components could be used also but it's very easy to miss that and just see html.

Might be worth considering hand cr

[2020-02-18 10:28] andymantell commented on #45
@brightpixels I've had a quick look at this and there's some issues with govuk-react-jsx and react-hook-form - I've started looking at what I can do to be compatible with it. This package has been built assuming that people would be using controlled inputs whereas react-hook-form uses uncontrolled inputs. It wasn't a conscious design decision - just that the project I was working on using this use

[2020-02-18 10:36] andymantell opened #48 "Compatibility with react-hook-form"
There are some issues around compatibility with react-hook-form. (See #45 for original thread).

Initial issue appears to be around the fact that react-hook-form uses uncontrolled inputs but we assume controlled.

Need to build out a demo of some the various form components using react-hook-form and iron out this and any other issues encountered.

[2020-02-18 11:49] #48 closed

[2020-02-18 12:03] andymantell commented on #4
Also need to address compatibility with react-hook-form

[2020-02-18 12:05] andymantell commented on #45
I fixed a couple of issues around the radios in #48 and released govuk-react-jsx@1.4.0. Everything else seemed to be ok. I've not tackled the date input yet with react-hook-form as it's a bit more fiddly. I'll take that on in #4

You can find the example code here:

https://github.com/surevine/govuk-react-jsx-examples/blob/master/src/forms/ReactHookForm.js

Which you can see running here:

https:/

[2020-02-18 12:05] #45 closed

[2020-02-18 13:01] #43 closed

[2020-02-18 16:48] andymantell opened #50 "Need to add tests for interacting with components, particularly forms"
Need to add tests for interacting with components, particularly forms. I broke controlled form inputs while working on a fix for _uncontrolled_ form inputs and there was no test to catch this which isn't acceptable.

[2020-02-18 16:49] andymantell opened #51 "Error summary ceases to gain focus after the first form submission"
The Error Summary component only seems to work the first time round - subsequent form submissions don't focus it

[2020-02-19 08:01] #51 closed

[2020-02-19 08:23] andymantell commented on #17
Done in https://github.com/surevine/govuk-react-jsx-examples

[2020-02-19 08:23] #17 closed

[2020-02-19 08:39] #19 closed

[2020-03-06 16:43] andymantell opened #56 "Tests fail under Node 13.10.0"
Have pinned the travis test runners to 13.9.0 until https://github.com/nodejs/node/issues/32105 is resolved one way or another.

[2020-03-12 14:11] #56 closed

[2020-03-25 09:03] brightpixels opened #58 "Error module parse failed: Unexpected charcter"
Hello,
Firstly, I don't think this is a problem with this lib but if you can help, I would be grateful.

I am working on a React project that has been setup up manually (i.e. without the use of create-react-app), and when I try to import a component from this library like Input or Button, I am getting this error:
[code]
The webpack config has the following loaders:
- babel-loader
- url-loader
- st

[2020-03-25 09:53] andymantell commented on #58
Curious. Would you be able to put together a minimal example repo with your webpack setup and a simple "hello world" app demonstrating the failure?

[2020-03-25 10:32] brightpixels commented on #58
Give me an hour please.

[2020-03-25 20:25] brightpixels commented on #58
Took well over an hour, it was painstaking. Webpack and babel configs are like-for-like, taking into account version numbers.

When I try to import Input I am getting similar error (not exact) about a loader. This error disappears if I remove the Input component import from my index.js.

https://github.com/brightpixels/error-reproduction

Btw, something separate, I was prompted by terminal about a

[2020-03-25 20:35] andymantell commented on #58
Your repo seems to be using `govuk-react`, not this library which is `govuk-react-jsx`.

I'll have a quick look tomorrow and see if I can spot the issue for you anyway, but if you are using govuk-react the issue might be better raised over there.

[2020-03-25 20:35] #58 closed

[2020-03-26 07:33] brightpixels commented on #58
Sorry, long day. I have pushed again with the correct import now (igovuk-react-jsx). The error now is along the same lines
[code]

But this time it's more specific about which file: `ERROR in ./node_modules/govuk-frontend/govuk/assets/images/favicon.ico`

Whereas in the real project I am working on it doesn't for some reason tell me which file is causing the error

[2020-03-26 07:45] brightpixels commented on #58
Error disappeared as soon as I added 'ico' to the url-loader

Thanks for your help :)

[2020-03-26 08:09] andymantell commented on #58
Ah excellent. That was going to be my suggestion but you've got there before me.

I would highly suspect the issue will be similar under govuk-react as well. Not sure which file type, but it'll be the same problem most likely.

[2020-04-06 12:59] #21 closed

[2020-04-06 13:16] andymantell commented on #26
Closing this as it doesn't seem to happen any more :-/

[2020-04-06 13:16] #26 closed

[2020-04-06 16:38] johnbenjaminphe opened #61 "Request to add Crown Copyright logo to the footer"
Could you please include the Crown Copyright logo to the footer?
The project [coronavirus-dashboard](https://github.com/PublicHealthEngland/coronavirus-dashboard) has a requirement for this.

You can find it in the bottom right corner of this website [Public Health England - Fingertips](https://fingertips.phe.org.uk/)

[2020-04-06 17:54] andymantell commented on #61
Will have a look this evening...

[2020-04-06 18:55] andymantell commented on #61
Hi John,

Thanks for raising this. I've submitted a pull request against the coronavirus-dashboard here in order to fix it:

https://github.com/PublicHealthEngland/coronavirus-dashboard/pull/4

The reason it was missing is that webpack doesn't know where to find the assets - you have to tell put the right location into the $govuk-asset-path sass variable such that the appropriate webpack loader pi

[2020-04-06 19:28] #61 closed

[2020-04-06 19:32] andymantell opened #64 "html diffing code missed whitespace before comma in footer OGL statement"
The OGL statement in the footer had an additional space before the comma - need to investigate why the html diffing tests did not pick this up, to ensure we don't miss any similar errors elsewhere.

See #63

[2020-04-07 08:24] johnbenjaminphe commented on #61
Thank you Andy for your quick response.

[2020-05-31 09:42] grahamorrell opened #65 "Invalid Hook Call Warning"
Whilst attempting to use this library within a Gatsby application I was receiving the error outlined here

https://reactjs.org/warnings/invalid-hook-call-warning.html

Specifically I think the issue was "3.  You might have more than one copy of React in the same app.".  At the above link it mentions that libraries should list react as peer dependencies rather than dependencies.

Indeed, when I mod

[2020-06-01 07:19] andymantell commented on #65
Thanks, that's a good shout. To be honest I guess the other deps ought to be peers as well. I'll do a bit of reading and check that's the right way to go and then will get this sorted asap.

[2020-06-01 10:05] andymantell commented on #65
Hi @grahamorrell,

I have released govuk-react-jsx@3.0.0 with everything moved to peer dependencies (Hence the major version bump). Can you give it a try and double check it solves the issue for you.

Also have updated govuk-frontend to 3.6.0 in the (now) peer deps. This was an error previously, it should always have been 3.6.0, the dist package.json was lagging behind. (I've added some tests to m

[2020-06-02 12:35] andymantell opened #68 "Remove header component examples workaround for missing serviceUrl"
A workaround has been added to https://github.com/surevine/govuk-react-jsx/blob/master/src/govuk/components/header/examples.js to tweak the examples and resolve an issue with the html diffing caused by a missing serviceUrl param/prop.

Once https://github.com/alphagov/govuk-frontend/pull/1825 is merged and released, this workaround should be removed.

[2020-06-05 18:13] brightpixels opened #69 "Is it possible to use multiple single checkboxes that are part of the same field array using a map loop"
Hello,
Are there any examples of using checkboxes, that are part of the same field array, but rendered using a map loop? I am looking for examples using Fomik and React-hooks-form

The current examples assume that list of checkboxes are rendered one after the other. I have a scenario where I need to loop over an array of items with a checkbox for each.

I hope question makes sense
Thanks

[2020-06-05 19:23] andymantell commented on #69
I think I get what you're saying but could you scribble up a quick mock up and post it so I know what you're aiming for? Even if it's just done in MS paint!

Also, you mention two form libraries... Do you need code examples for both or just the one?

If you could do that, I'll have a look Monday morning and see the best way to achieve what you want

[2020-06-08 06:51] andymantell commented on #65
I'm going to consider this fixed, but please let me know if you have any more issues. Or indeed if it is now working.

[2020-06-08 06:51] #65 closed

[2020-06-08 18:06] brightpixels commented on #69
Something like this:
https://codesandbox.io/s/formik-checkboxes-array-x393g

Kind of works, only issue I see is around the label. For example, the second label ('Keep 56') is wired up to the first checkbox.

Also, can you help to work out why my import of govuk-frontend/frontend/all in App.js isn't working please

[2020-06-09 07:39] andymantell commented on #69
Is this sort of what you're looking for?

https://codesandbox.io/s/formik-checkboxes-array-i05vv

It's still a bit hard to see what you're aiming for with all the Lorem ipsum - hard to understand the purpose of this and get the semantics right. But I think I have done what you wanted, whilst making it look like govuk? Let me know if you have any other questions.

It's worth noting that this librar

[2020-06-09 08:46] brightpixels commented on #69
This is perfect. My issue was the idPrefix not being dynamic. Thanks for the tip about directly using class names when components/nunjucks aren't a good fit.

Regarding the the sass import wasn't working because I haven't actually imported the sass file in one of the JS files! Thanks again.

[2020-06-09 08:46] #69 closed

[2020-07-29 08:49] andymantell opened #81 "Bring page template structure in line with govuk nunjucks"
The page template doesn't really match the nunjucks base template very closely. Started a branch at https://github.com/surevine/govuk-react-jsx/tree/page-template-updates to rectify this.

[2020-07-30 15:15] andymantell commented on #68
Fixed by b8b968bb532dd5590e1b4fede234c8dbe41c27f7

[2020-07-30 15:15] #68 closed

[2020-08-03 08:07] andymantell opened #85 "Not all dynamic imports receive proper names at build time"
Govuk js is imported dynamically and given names with webpack magic comments as follows:

[code]

However, not all of the output files have their names assigned correctly. For example, this is the build output from govuk-react-jsx-examples:

![image](https://user-images.githubusercontent.com/134642/89160336-cd8b6080-d568-11ea-88d6-ecbfaf395572.png)

Need to work out why...

[2020-08-18 17:36] andymantell commented on #85
Tagging this with Hacktoberfest in case anyone taking part in it this year had any ideas. I'm stumped for the moment on this one. It'll either be something obvious I've missed, or a bug deep in webpack!

Happy to pair up when it comes to it if that would help

[2020-10-13 12:45] jacksonhyde opened #91 "Storybook link is 404ing"
The storybook link in the Readme (https://surevine.github.io/govuk-react-jsx/) is 404ing.

Is it possible to get this running again, or is the storybook still available elsewhere?

[2020-10-13 12:48] andymantell commented on #91
Which version are you referring to? I can't see a broken link - I repointed it to https://govuk-react-jsx.netlify.app/ in 8dae461aaf8bde5374ab10ae3088729b2e3c2da3

[2020-10-13 12:50] andymantell commented on #91
Wait, I just found the broken link. Good spot. I'll sort it out.

[2020-10-13 12:58] #91 closed

[2020-10-13 12:58] andymantell commented on #91
Sorted now @jacksonhyde - thanks for pointing this out

[2020-10-13 12:59] andymantell commented on #91
I won't republish a new version just for this though - there'll be a new one landing in a week or two when I have had time to do the govuk-frontend@3.9.1 update. I'll bundle it up with that

[2020-11-25 18:29] brightpixels opened #96 "Looking for example of usage of Input with react-text-mask"
Hello,
I am looking for an example of govuk-react-jsx input component used with react-text-mask component please. Use case examples is guide use to fill in a credit card number or phone number

[2020-11-25 21:13] andymantell commented on #96
The docs suggest passing a render prop allowing you to specify a custom component:

https://www.npmjs.com/package/react-text-mask#customize-rendered-input-component

Have you tried this yet?

[2020-11-25 23:31] brightpixels commented on #96
I have read this earlier and didn’t think of it as relevant to what I was looking for. Will have a go and report back.

[2020-12-01 18:04] andymantell commented on #96
Closing this for now. Feel free to reopen if there is an issue within govuk-react-jsx

[2020-12-01 18:04] #96 closed

[2020-12-14 16:38] andymantell opened #97 "Move to Github Actions"
Move to Github Actions, Travis is too slow these days

[2020-12-15 08:40] #97 closed

[2021-01-07 15:16] oddjones opened #99 "Button issue with Formik"
Hi there - I've noticed in the Formik example (and in a different Formik example I've been asked to review) that there's a recurrent `Cannot read property 'addEventListener' of null at e.init (button.js:718)` error being pumped into the console - I've been having the devil's own job chasing it down - has anybody there figured out what's causing it?

[2021-01-07 15:19] andymantell commented on #99
ah, when you press the submit button?

[2021-01-07 15:20] oddjones commented on #99
yep - although I'm making things hard for myself by trying to implement it in NextJS and I'm having it happen when I interact with any field on the form

[2021-01-07 15:24] andymantell commented on #99
I can reproduce the issue in the Formik and React-hook-form examples here:

https://surevine.github.io/govuk-react-jsx-examples/

I'm in the middle of something for a second, but I'll try and take a look at the end of today.

Does the button "work" apart from this? Or are you totally blocked from doing what you're doing?

[2021-01-07 15:25] oddjones commented on #99
Ah mate - seriously - it's just bugging me ;-) The button does seem to work - but because my example uses NextJS it's way more shouty about the error (no console there - right up in your face) - it can wait - no rush at all

[2021-01-07 15:27] andymantell commented on #99
ok that's good, so long as you can do what you need to do for the moment.

Thanks for raising it - I'll sort it out as soon as I can.

[2021-01-07 15:51] andymantell commented on #99
I think this might be the answer:

https://stackoverflow.com/a/63033314

[2021-01-07 15:59] oddjones commented on #99
With the UseEffect being inside Formik? (guesses)
http://about.me/dominic.jones

On Thu, Jan 7, 2021 at 3:52 PM Andy Mantell <notifications@github.com>
wrote:

[2021-01-07 16:01] andymantell commented on #99
sorry that was sort of a note to myself. It's the way that I'm initialising the govuk-frontend button javascript inside my component. It's not something you can fix at your end...

[2021-01-14 13:12] oddjones opened #100 "Bad handling of focus on ErrorSummary component"
Hi Andy - sorry to fill your issues thread mate, but I've come across a more general issue with the Formik example (which shows I'm persevering though eh?) - there's a validation snafu which I think is related to the issue identified in this thread on Formik's site ( https://github.com/formium/formik/issues/882 ) - The form validates fine but there's an issue when you come to fix the errors it poi

[2021-01-14 13:16] andymantell commented on #100
oh yes I see the bug. Let me see if I can fix it in the examples...

Sorry I haven't got back to you about #99 yet, I'm struggling to find time at the moment

[2021-01-14 13:17] oddjones commented on #100
No worries dude - I figured this one might be a bit more important as it's a more general fail - and failing is learning, right ;-) ?

[2021-01-14 14:00] andymantell commented on #100
I've not been able to fix it in my lunch break, I will see what I can do this evening.

[2021-01-14 14:01] oddjones commented on #100
No worries mate - I'm trying stuff my end - If I get anywhere I'll let you know ;-)

[2021-01-14 14:04] andymantell commented on #100
Yeah let me know what you find. The "worry" is whether it's not in my formik example code but inside the govuk-react-jsx component itself. My head has been out of the React space for a few months now so having to get back up to speed!

[2021-01-14 15:09] oddjones commented on #100
I feel it's more to do with the ErrorSummary component than anything else - without it on the page everything works as expected - I notice there's a useEffect on line 29 of this component that appears to set the focus to the "errorSummaryRef" - When I removed the "errorList" from the dependency array (ensuring it only runs the useEffect once) - that *seems* to have solved the problem? - suggesting

[2021-01-14 15:16] andymantell commented on #100
oh god, yes, you're right. That focuses itself when error messages are displayed, because that's the behaviour from govuk-frontend - based on validation only occurring when the submit button is pressed. There's quite a lot of accessibility pitfalls with dynamic validation like this which is I think why they don't recommend it.

Seems to me that there's a few of actions needed out of this:

1) Prov

[2021-01-14 15:22] oddjones commented on #100
I agree with GDS to be fair on the whole dynamic validation stuff - it's nice to offer some client side stuff as progressive enhancement but it shouldn't be in the driving IMHO - bizarrely I'm trying to make this work with SSR on a NextJS implementation - I'm hoping to make use of the same yup schema to drive validation against the api ideally - this is just my direction of travel ;-)

You can't g

[2021-01-14 15:42] andymantell commented on #100
no of course, these issues are all extremely welcome. I won't pretend I _enjoy_ receiving issues! :-) But that's just how open source works innit.

I think this one isn't as thorny as it first appeared thankfully - if I do the things set out above then I think I can make it work.

In the short term I suggest you copy and paste this code...

https://github.com/surevine/govuk-react-jsx/blob/main/src

[2021-01-22 08:40] andymantell commented on #100
@oddjones Just to say I haven't forgotten about this. I am going to find some time this weekend to take a look. I have a plan I think will work - basically I'm going to remove the automatic focusing from this component completely. Then when you use it, you will be able to pass a `ref` into the component which will give you a handle to the actual error summary dom element. Then it will be up to _yo

[2021-01-25 09:15] andymantell commented on #100
@oddjones I've made a fix and it seems to be working. I'm going to revisit this tomorrow morning and read what I've done again with fresh eyes before I ship it.

[2021-01-25 09:16] andymantell commented on #100
Todo:

- [ ] Linting
- [ ] React-hook-form equivalent

[2021-01-25 09:22] oddjones commented on #100
Cool - I'll pull it when I get the chance this week - i've been put onto another project for now so don't rush on my part - does this fix the other issue as well? (the button issue https://github.com/surevine/govuk-react-jsx/issues/99 )

[2021-01-25 09:27] andymantell commented on #100
If you're pulling this repo in directly you'll need to build it - you can just pull it in from github. When I'm working locally I have a little script to do this:

[code]

(Replace govuk-react-jsx-examples with your folder name obvs)

And then you would need to make the changes from govuk-react-jsx-examples in your repo.

I'll publish it in the next few days though once I'm confident it does what

[2021-01-25 09:35] andymantell commented on #100
oh and no, it doesn't fix the button issue

[2021-01-30 12:30] andymantell commented on #100
@oddjones I've made it a bit better and that's now released as 4.1.1 (It shouldn't be focusing the error summary too much now). The demo code at https://github.com/surevine/govuk-react-jsx-examples/pull/1 doesn't quite work though - I think because it's getting a new ref every time it re-renders the error summary. I only noticed this after I released it :-(

4.1.1 is better than 4.1.0 so I'm going

[2021-01-30 12:31] oddjones commented on #100
Very good mate

On Sat, 30 Jan 2021 at 12:30, Andy Mantell <notifications@github.com> wrote:

--
http://about.me/dominic.jones

[2021-01-30 14:37] andymantell commented on #100
Ok let's try that again. I've released v5.0.0 since this is a breaking change really. Arguably the previous one should have been really but it's done now.

As per this commit... https://github.com/surevine/govuk-react-jsx/commit/c36f191f064969b59d5f9f782852f95ada2f524a ...the Error Summary no longer automatically focuses _ever_. It is entirely up to the calling app to decide when it is appropriate

[2021-01-30 14:42] #100 closed

[2021-02-01 16:27] dawudr opened #102 "Compatibility with Next JS"
Build fails when adding project to Next Js app.

require is being used to load an asset file, which is why its return value is typically assigned to a variable:
Better to put your image inside your project asset folder or use CDN to store that image and put the fullpath like: https://cdn.com/path/to/image in prop src in tag img.

Next JS doesn't seem to support it, see
https://nextjs.org/docs/basi

[2021-02-01 16:40] andymantell commented on #102
Thanks @dawudr I'll take a look. It shouldn't be necessary to put the image into the asset folder - this is what the loaders are designed to do which are mentioned in the error message text.

I'll see if I can configure your example app to do it tomorrow. Thanks for making the example app reproducing the error - that's extremely helpful!

[2021-02-02 09:10] andymantell commented on #102
@dawudr I have submitted a pull request against your repository here:

https://github.com/dawudr/govuk-nextjs-example/pull/1

I have tested this and it is now working and loading the images.

Hat tip to @ianhomer who's code I grabbed this from (https://github.com/ianhomer/try-govuk-react-jsx-next/blob/main/services/govuk-react-jsx-next/next.config.js)

What I'm gonna do next time I get a moment is

[2021-02-02 09:13] andymantell opened #103 "Create NextJS demo app"
As discussed in #102 - it would be good to have a NextJS examples app showing how to set it up to work with govuk-react-jsx as the out of the box experience from create-next-app is not sufficient. Have made a start here with @dawudr's help:

https://github.com/andymantell/govuk-nextjs-example

Also need to consider whether #90 might be beneficial to this, to avoid this line in the nextjs config:

[2021-02-05 15:18] brightpixels commented on #103
I came here to raise a ticket to ask for an example next.js app. I am currently working on a fresh client project and really happy to see this as I am having various errors.

[2021-02-05 15:28] andymantell commented on #103
@brightpixels Are you getting errors beyond those mentioned in #102 ?

But yeah, have a look at that basic app - hopefully it points you in the right direction.

When I get time I will make a more fully fledged app, but at least in the near future this is probably as much as it's going to be - just an example of how to set it up at it's most basic. Beyond that I have to assume that the reader know

[2021-02-05 16:08] brightpixels commented on #103
I misunderstood the purpose of the other repo. I was using https://github.com/dawudr/govuk-nextjs-example  as the next.js + govuk-react-jsx demo but it looks like it's to reproduce the error showing in the README of the repo, which is what I am getting now. So yes, same issue.

![PixelSnap 2021-02-05 at 15 40 08@2x](https://user-images.githubusercontent.com/5403134/107054889-953f3600-67c8-11eb-920

[2021-02-05 16:13] andymantell commented on #103
It certainly started out as a means for reproducing that error - but now that it's fixed it's a perfectly good start I think.

When I come to do a "bigger" demo app I will cast around and see if there's other good starting points but I doubt I'll do anything significantly more complicated - and I may even simply go with exactly what's at https://github.com/dawudr/govuk-nextjs-example

Will make su

[2021-02-06 18:52] ianhomer commented on #103
I'll be happy to assist if you need. We're now using this govuk-react-jsx library extensively in a next.js stack. It's been working really well for us and can share any tips if you travel down paths we've been down.

[2021-02-06 19:02] andymantell commented on #103
Thanks Ian that's greatly appreciated. If you were able to share the structure of your setup maybe with all of your application code removed that would be really cool. just the barest bones after you remove your app specific stuff.

I guess there's a balance to be struck between minimal code ready to be configured, and a highly opinionated setup that might not suit everyone. Don't know where you f

[2021-02-11 09:12] ianhomer commented on #103
I've cleaned up https://github.com/ianhomer/try-govuk-react-jsx-next a little. That's pretty much the bare bones. We're on node v12 ; next v10.0.4.  We use lerna to wire up our mono repo - which leads to us needing the transpile logic in https://github.com/ianhomer/try-govuk-react-jsx-next/blob/main/services/govuk-react-jsx-next/next.config.js (this allows us to make live updates to our ui compone

[2021-02-11 10:14] andymantell commented on #103
Thanks @ianhomer this looks amazing. If you are happy I'm going to add a link to this from the Readme...

[2021-02-11 10:17] andymantell commented on #103
Regarding bugs with the library - the only one that I'm aware of really is #99. So I guess be aware of it. It doesn't cause anything bad to happen apart from a console error but I need to get to the bottom of it.

[2021-02-15 12:55] brightpixels opened #104 "What other scss variables can be overriden"
Hello,
At the moment, I can set the following scss variables to override GDS styles

[code]

What other things can be overrriden? Where do I look for this list? I am looking to, for example, change some base colours or accent colours, etc

[2021-02-15 13:04] moodledan commented on #104
@brightpixels Take a look at the [govuk-frontend](https://github.com/alphagov/govuk-frontend)

Check out the 'src/govuk' directory, you'll find all the SCSS files used and you'll find all the variables that can be overridden.

To change an accent look in 'src/govuk/settings/_colours-palette.scss' for accent colours.

[2021-02-16 09:27] brightpixels opened #105 "Looking for an updated example of react-hook-form"
Hello,
The current example of react-hook-form is broken. Could you please update it or give guidance. https://github.com/surevine/govuk-react-jsx-examples/blob/master/src/forms/ReactHookForm.js
Thanks

[2021-02-16 09:30] brightpixels commented on #104
Thank you

[2021-02-16 09:30] #104 closed

[2021-02-16 10:12] andymantell commented on #104
Thanks @moodledan !

[2021-02-16 10:16] andymantell commented on #105
I will update it when I can but I'm not able to give a prompt response to this unfortunately. I don't believe anything is broken in this library that makes it incompatible with react-hook-form, but react-hook-form changed enough that my example code no longer worked. It wasn't completely broken - it was just the validation wasn't working I think.

Is there anything in the react-hook-form docs you

[2021-02-16 15:11] brightpixels commented on #105
Thanks. Closing for now and will reopen or raise an issue for more specific issues. If all good, I will raise PR on your example.

[2021-02-16 15:15] andymantell commented on #105
Thanks @brightpixels.

I'm actually going to reopen this ticket though as a reminder as I do need at some point to fix that example. I hastily commented it out because it was broken and didn't have time to do anything better with it...

[2021-02-17 17:09] oddjones commented on #103
Just have to say @ianhomer this is amazeballs

[2021-02-19 22:47] ianhomer commented on #104
Freaky, an engineer on our project just wrote this exact same line last week,

[code]

We were having issues importing the fonts files into the next.js build. By changing that line, next.js / webpack detected the font file references as local links and then bundled them in our web build. By default it is `/assets/` and https://frontend.design-system.service.gov.uk/importing-css-assets-and-javascri

[2021-02-19 22:53] andymantell commented on #104
Webpack is amazing when all the magic aligns :-)

I use the same value here: https://github.com/surevine/govuk-react-jsx-examples/blob/master/src/styles.scss

Works perfectly with default create-react-app

[2021-02-19 22:57] moodledan commented on #104
Me to, except I want a little overboard:

`
$govuk-assets-path: "~govuk-frontend/govuk/assets/";

// ## Simple:

// @import "~govuk-frontend/govuk/all";

// ## Or include, exclude and override styles as required:

// @import "~govuk-frontend/govuk/base";
// ## base/settings
@import "~govuk-frontend/govuk/settings/assets";
@import "~govuk-frontend/govuk/settings/compatibility";
@import "~govuk-fron

[2021-02-19 23:00] moodledan commented on #104
The above mean't I could then create `styles/_colours-palette.scss` and totally customise the palette as desired.

[2021-02-19 23:03] andymantell commented on #104
https://github.com/alphagov/govuk-frontend/blob/8748418071b7e753a2085b409d10e1c2fb40990e/src/govuk/settings/_colours-palette.scss#L108

Couldn't you have done that by overriding this $govuk-colours variable? It has the !default incantation after it?

[2021-02-19 23:04] andymantell commented on #104
Sounds interesting though. Are you working on something non govuk? Or internal to a department?

[2021-02-19 23:10] moodledan commented on #104
@andymantell Just experimenting right now, no reason why I'd need really need this level of control - more just about being comfortable knowing I can and how flexible what you've put together really is.

An example of this is a new component comes from govuk-frontend, like the new cookie banner, but isn't yet part of your framework. However I could 'shoe horn' the styles into my project and build

[2021-02-19 23:12] andymantell commented on #104
Fair enough!

Incidentally, the cookie banner is on its way. I've mostly finished the port, just failing a couple of the tests. Should be done soon and I'll release an update...

[2021-02-19 23:14] moodledan commented on #104
@andymantell Thats awesome, bit of a flurry of updates on govuk-frontend recently so thats great news.

[2021-02-19 23:16] moodledan commented on #104
@andymantell  Maybe I'm just a control freak :)

[2021-02-20 08:25] ianhomer commented on #104
Wow - wake up and see these tips :) We're currently trying to optimise the CSS in our stack and I'll share this with the team on Monday.

[2021-03-01 15:26] rhirani1 opened #107 "Compatibility with ExpressJS for Server Side Rendering"
Hi
Similar to Compatibility with NextJS: https://github.com/surevine/govuk-react-jsx/issues/102

We face the same issue where it isn't able to load an image, the application has been created using create-react-app and using babel as the javascript compiler. But we see the below error during runtime:

[code]

Have you seen this issue before for Express Rendering, have also tried using webpack to bu

[2021-03-01 15:45] andymantell commented on #107
Are you able to post a minimal reproduction of the issue? This library works with create-react-app out the box (https://github.com/surevine/govuk-react-jsx-examples) but you mention express - clearly there's something extra going on here. It certainly sounds like a loader issue that should be easily resolved - I just need to see the context of what your app looks like.

If you could strip the app

[2021-03-02 11:21] rhirani1 commented on #107
Example:
https://github.com/rhirani1/express-govuk-react-jsx

We primarily used this tutorial to render ssr:
https://www.pluralsight.com/guides/how-to-partly-server-side-render-in-react

With Babel configuration:
[code]
The current example doesn't use `ignore styles` such as stylesheets or images, as further on we would get another issue regarding the images in `govuk-react-jsx/govuk/template/inde

[2021-03-02 11:30] andymantell commented on #107
ok that's great thanks, I'll try and find a moment to take a look

[2021-03-02 11:57] andymantell commented on #107
I'm slightly confused - the repository you've linked there seems to work ok for me? I've got a couple of console errors but I think they're unrelated to the issues you're describing.

At what point do you see the errors? What NodeJS version?

[2021-03-02 12:16] rhirani1 commented on #107
We are using node version, `v12.18.4`

That is weird if it's working for you, are you building then running the app using `npm run start-ssr`. Should see the errors straight away

[2021-03-02 12:21] andymantell commented on #107
ah no I was running `npm start`, I'll try the ssr one

[2021-03-02 12:42] daniele-zurico commented on #107
hi there,
I got the exact same problem (I'm not using CRA):
[code]

[2021-03-02 12:45] andymantell commented on #107
Hi @daniele-zurico,
It's the same problem on the surface but if you aren't using create-react-app, or express, then the solution will be slightly different compared to this ticket. Ultimately it boils down to having your loaders configured correctly in your repository. Can you put together a reproduction in a git repo please and maybe start a new ticket as I don't believe the issue is the same, de

[2021-03-02 13:02] andymantell commented on #107
@rhirani1 So you're issue is I think because lines like this:

[code]

are compiled and working correctly in your `/build` output for the frontend - but nothing is doing this same job for the server side version. For the clientside code, webpack, babel and the url-loader plugin are parsing those image imports and stick a file out on disk (See `/build/static/media/favicon.abc123.ico`). But for the

[2021-03-02 13:10] andymantell commented on #107
I've run out of lunchtime now but will continue to mull this over.

In the meantime you could maybe investigate what your options are in terms of running the SSR version from webpack-built copies.

Without wanting to sound dismissive, I don't think this is an issue with the library - just how it's built in this specific express + react + whatever setup. NextJS has a solution for it (as in the tick

[2021-03-03 00:01] shaquillaevelyn opened #108 "Cannot Import "Radios" or "Checkboxes""
Please review the Radios and Checkbox functionality. Unable to use in UI. Possible that other elements are unusable.

 Try `npm i --save-dev @types/govuk-react-jsx` if it exists or add a new declaration (.d.ts) file containing `declare module 'govuk-react-jsx';`  TS7016

     9 |   Paragraph,
    10 | } from 'govuk-react';

       |                        ^

[2021-03-03 08:12] andymantell commented on #108
Hi,
Please can your post a git repository containing a minimal reproduction of this issue. The components are demonstrably working under create react app and nextjs currently. I suspect something is awry with your setup but I need to see the context that it's running in. Thanks.

[2021-03-03 08:14] andymantell commented on #108
Also, your example contains references to govuk-react which is a different module entirely. This module is govuk-react-jsx.

[2021-03-03 08:48] andymantell commented on #27
This is no longer the case - the examples now come from the fixtures files packaged up with govuk-frontend on npm

[2021-03-03 08:48] #27 closed

[2021-03-04 08:48] andymantell commented on #107
@rhirani1 It has occurred to me this morning that a previous iteration of my test suite actually used express in a very similar manner to how  you are. In order to achieve this I did in fact compile the server code with webpack using this config:

https://github.com/surevine/govuk-react-jsx/blob/009ab63adabc3e4ae46d63859109dcc36fe0c9a2/tests/utils/webpack.config.js

and then ran the server like th

[2021-03-04 08:50] andymantell commented on #107
@daniele-zurico unless you are also using express and doing server side rendering, the above suggested fix won't apply to you - we'll need to find a similar solution for whatever your setup is. Feel free to open a separate issue + example repository describing your specific problem.

[2021-03-04 10:49] rhirani1 commented on #107
@andymantell That works! 🥳 Thank you very much, your a ⭐

[2021-03-04 11:00] andymantell commented on #107
ah awesome, glad I could help 😄

[2021-03-04 11:00] #107 closed

[2021-03-09 10:53] andymantell commented on #108
Closing this as I don't think there's an issue here. Please feel free to reopen with an example of an error if you can.

[2021-03-09 10:53] #108 closed

[2021-03-10 13:57] SamChatfield opened #109 "Getting an error on certain components when rendered in CRA testing environment"
Hi there,

I'm trying to test a form component I've built that uses various govuk-react-jsx components and Formik. The form is essentially just an ErrorSummary, a DateInput, and a Button. The project's run and test scripts are using react-scripts and it all works perfectly when running with `react-scripts start`, but my problem comes when I am trying to unit test the form under `react-scripts test

[2021-03-10 16:38] SamChatfield commented on #109
Okay I think this should be a pretty barebones reproduction:
https://github.com/SamChatfield/govuk-react-demo

Should be able to see that everything runs okay under `npm start`, but the tests error under `npm test`.

I've set it up so clicking the button adds an error to the state, and the ErrorSummary is conditionally rendered if this errors array in the state has something in it.

There's two te

[2021-03-11 09:02] andymantell commented on #109
Thanks Sam, I'll try and have a look at lunchtime

[2021-03-11 09:12] andymantell commented on #109
Note to self for later:

https://jestjs.io/docs/webpack#using-with-webpack-2
(babel-plugin-dynamic-import-node)

Also - why isn't this an issue in the govuk-react-jsx tests 🤔

[2021-03-11 13:30] andymantell commented on #109
@SamChatfield Can I just check - you're using nodejs 12 as indicated by the nvmrc file?

[2021-03-11 13:32] SamChatfield commented on #109
Yeah that's right, and npm 6.14.6.

[2021-03-11 13:32] andymantell commented on #109
Interesting. All I get when I run npm test on node12 is:

[code]

[2021-03-11 13:39] SamChatfield commented on #109
That's strange, it looks like it's not running the tests on your end then if that's the only output. Here's the full output of what I'm seeing:

[code]

[2021-03-11 13:49] andymantell commented on #109
ah it's ok, I think I'd broken it whilst trying to fix it :-) I've got the errors now

[2021-03-11 13:58] andymantell commented on #109
ok it hasn't yielded to lunchtime investigations. I'll think about it a bit more

[2021-03-11 14:12] SamChatfield commented on #109
No worries, I appreciate you getting on to this so quickly.

[2021-03-11 14:13] andymantell commented on #109
no problem. I always like to at least _look_ quickly in case it's obvious, but in this case not :-)

[2021-03-11 16:56] SamChatfield commented on #109
A little bit of extra info. I came across the node `--experimental-vm-modules` command line option, so I thought I'd try running the tests as `NODE_OPTIONS='--experimental-vm-modules' npm test` to see what would happen and those `TypeError: _vm(...).SyntheticModule is not a constructor` errors go away and are replaced by a single different error in the second test only:

[code]

I don't know if th

[2021-03-11 17:04] andymantell commented on #109
What about switching to a newer version of node? 14 maybe?

The second error looks like this one:

https://github.com/surevine/govuk-react-jsx/issues/99

So this kinda ups the priority of fixing that one. Which is frustrating because I'm not sure how or why it's happening. But clearly I need to dig into that one a bit more... I will try and set some time aside this weekend to investigate it.

I gu

[2021-03-12 09:42] SamChatfield commented on #109
Okay so I tried switching to node v14.16.0 and now I get no output from the tests, it just says they failed without any further info:

[code]

[2021-03-12 09:46] andymantell commented on #109
Hmm ok, I'll keep an eye on that too but not sure what's going on there.

[2021-03-12 10:00] SamChatfield commented on #109
I suspect that might also have something to do with the internals of the Button component as well because if I remove the Button and test something else in the tests such as the DateInput legend, it works under node 14.

[2021-03-12 15:37] andymantell commented on #99
@oddjones and @SamChatfield - I think I have a simple fix for this. So simple I am suspicious of it, but I'm hoping it's a goer.

I'm gonna pursue it this weekend and extend my pipeline to publish release candidates so that you can both test it out before I let it out into the wild...

[2021-03-12 15:39] oddjones commented on #99
Nice - I'll keep an eye open
http://about.me/dominic.jones

On Fri, Mar 12, 2021 at 3:37 PM Andy Mantell ***@***.***>
wrote:

[2021-03-12 16:08] andymantell commented on #99
@oddjones I've published as a release candidate so you can give it a whirl. If you wouldn't mind doing `npm install govuk-react-jsx@next` and seeing how that goes that would be great. Thanks!

[2021-03-12 16:18] andymantell commented on #109
@SamChatfield I've fixed #99 which was causing the `Cannot read property 'addEventListener' of null` error but there's still something a bit odd going on. As you say, the test output is empty, which is really odd. Even on nodejs 12 for me.

Can you try doing `npm install govuk-react-jsx@next` and see where it leaves you? Do you have a working app at least? But broken tests...

Also in case it's us

[2021-03-12 17:05] SamChatfield commented on #109
Okay it looks like your change to the Button has fixed the problem when running with the `--experimental-vm-modules` flag under node 12 which is great. Also I think I've figured out how to get babel to transform the dynamic imports so that it works without the flag. I'll need to do some more testing on Monday just to double check everything is working out but it's looking promising.

Thanks so muc

[2021-03-12 22:11] andymantell commented on #109
Ah good, glad we're making progress.

Please do let me know how it goes. And it would be amazing if you could post a quick summary of what the resolution was for future reference by me or others. Or even better update that git repo with the solution.

Thanks, have a good weekend.

[2021-03-15 10:50] SamChatfield commented on #109
Yeah so it all looks like it's working now both in the demo repo and my actual project 🎉.

I've committed the fix to the demo repo for future reference. The key parts to the fix from my end were:
- Using jest directly for running the tests rather than going through react-scripts so I can customise the config without having to eject the whole app from CRA
- Adding a `babel.config.json` with presets

[2021-03-15 10:56] andymantell commented on #109
Perfect, thankyou very much for the writeup. I think what I might do is add some tests to the govuk-react-jsx-examples and fold in your changes there. And stick something in the readme about test setup.

The transformIgnorePatterns is an interesting one - I wonder if I should be publishing the components in a different way. Might need to read up on that. Although they work with create-react-app ou

[2021-03-19 15:27] #99 closed

[2021-03-19 15:39] andymantell commented on #99
@oddjones This has been released now as https://github.com/surevine/govuk-react-jsx/releases/tag/v5.1.0

Please let me know if you have any further issues.

[2021-03-19 15:41] andymantell commented on #109
This has been released now as https://github.com/surevine/govuk-react-jsx/releases/tag/v5.1.0

Any more problems let me know.

[2021-03-19 15:41] #109 closed

[2021-03-19 15:42] andymantell opened #111 "Example of test setup in govuk-react-jsx-examples"
As per #109 - there may be some issues when testing the components in an out the box create-react-app setup. Need to investigate this and make the appropriate changes to accommodate, as well as documenting them.

OR

Is there something that can be done to the components to make this step unnecessary?

[2021-03-19 17:08] andymantell opened #112 "Consider how govuk-frontend JS is imported and used to avoid bloated bundles"
govuk-frontend JS is currently being imported from the npm module but as per https://github.com/alphagov/govuk-frontend/issues/711 there are issues with this - it results (I think) in duplicated polyfills.

Current "solution" is to bundle from source. Perhaps by copying the govuk-frontend JS into this package at build time?

[2021-03-25 12:05] gunjam commented on #112
I would really like the original js included in the npm package along with the bundled versions 🙏.

[2021-03-25 12:23] andymantell commented on #112
@gunjam Out of curiosity are you using govuk-react-jsx? Or have you reached this ticket because I linked to it from that ticket in govuk-frontend?

I might add the original JS to this package if it ends up being the right solution for the needs of govuk-react-jsx, but I don't think it would be wise for anyone to reference the govuk-frontend JS contained in govuk-react-jsx unless you were using gov

[2021-03-25 16:03] gunjam commented on #112
Yeah sorry I ended up here because I clicked an issue mention on govuk-frontend and didn't realise I'd changed repos! Sorry 😅

[2021-03-25 16:05] andymantell commented on #112
Haha don't worry! Thanks for bringing the issue to my attention though - it was your tickets on govuk-frontend that made me investigate it here...

[2021-04-23 08:21] andymantell opened #113 "Not possible to specify reactListKey properly on tables"
Due to the structure of the table data, it's currently not possible to specify reactListKey on each row. You can specify it on the cells, but not the rows.

Will need to restructure the data slightly to make this possible so will probably be a major release.

cc @AhdabNasir

As an aside to this, it would be a good idea to add examples for each component demonstrating the use of reactListKey - both

[2021-04-24 13:29] andymantell commented on #113
@AhdabNasir I've published `govuk-react-jsx@6.0.0-rc1` which should fix these issues. Would you be able to give it a whirl and see if it sorts things for you?

You will need to explicitly install that version - i.e. `npm install govuk-react-jsx@6.0.0-rc1` as it is a pre-release.

Please also note that the table data structure has changed and now looks like this:

[code]

Note the addition of the `

[2021-04-27 15:47] AhdabNasir commented on #113
@andymantell Thank you, I've installed the version and tried it and it works great! I no longer get the key warning issue

[2021-04-27 16:01] andymantell commented on #113
ah fantastic, thanks for letting me know. I'll look at getting this released properly tomorrow.

[2021-06-11 00:30] MartinDM opened #115 "Skip Link component inside Template"
v5.1.0

We're using the `Template` component, and passing in an object to prop `skiplink` matching that defined in the `propTypes`...

I understand the Template _should_ in any case, render out a skiplink with the default text defined in the defaultProps if none supplied.

However, even when re-defining the value using the prop, no link content is shown. The link is rendered as expected, but there

[2021-06-11 09:42] andymantell commented on #115
oh well spotted. I've had a quick look and the skiplink component itself is actually working fine, but it's expecting a `children` prop and not a `text` prop. But the <Template> component passes `text` in it's default props.

So it's a bug in the template, not a bug in the skiplink as such.

Should be an easy fix though. I can pick this up this weekend and get a release out.

In the meantime if yo

[2021-06-13 19:11] #113 closed

[2021-06-13 19:25] #115 closed

[2021-06-13 20:24] andymantell commented on #115
Hi Martin.

This is now released as govuk-react-jsx@6.0.0.

As per the release notes https://github.com/surevine/govuk-react-jsx/releases/tag/v6.0.0 - the major version bump was because of a necessary data structure change to tables. If you're not using tables then it should be a straight update.

Note also that govuk-frontend is bumped to 3.12.0

Hope this fixes things for you!

[2021-06-13 20:25] andymantell commented on #113
Hi @AhdabNasir

Really sorry this took so long, but I have now released govuk-react-jsx@6.0.0. Hopefully you've been ok on the pre-release version in the meantime.

Please note this version also includes an update to govuk-frontend@3.12.0

Hope this helps. Cheers.

[2021-06-16 10:56] SamChatfield commented on #102
Hi @andymantell come across this issue when looking at moving one of our applications using govuk-react-jsx to Next.js. I've got everything working great with the Next config mentioned above. However, the only thing I've had to work around is the fact that the Links within this library are the React Router links.

I've worked around it fairly easily for BackLink for now by wrapping BackLink in a N

[2021-06-16 12:02] andymantell commented on #102
@SamChatfield I've got virtually zero experience with Next.JS so I'm not sure, but I can try and have a think about it. If you've got any suggestions let me know. One of the assumptions this library makes is that you are using react-router but I think I didn't appreciate how much of an issue that would be when I started.

I wonder whether it can be configured to support both, either by detecting s

[2021-10-01 17:14] UPLukeet opened #119 "I guess this library doesn't work with gatsby react?"
When I try and import an element in gatsby react I get a multitude of issues and errors, has it been tested on gatsby before or is this an issue with my local build?

[2021-10-01 17:15] UPLukeet commented on #119
ERROR #98124  WEBPACK

Generating development JavaScript bundle failed

Can't resolve 'govuk-frontend/govuk/components/accordion/accordion' in '/Users/lukeellulturner/Documents/Work/canterbury-council-frontend/node_modules/govuk-react-jsx/govuk/components/accordion'

If you're trying to use a package make sure that 'govuk-frontend/govuk/components/accordion/accordion' is installed. If you're tryin

[2021-10-01 17:16] UPLukeet commented on #119
For references all I have tried to import so far is a cookie banner and I get all these errors

[2021-10-01 17:18] UPLukeet commented on #119
`import { CookieBanner } from "govuk-react-jsx"`
Importing like so

[2021-10-01 17:41] #119 closed

[2021-10-01 17:41] UPLukeet commented on #119
sorry my mistake didn't read install instructions clearly

[2021-10-04 07:11] andymantell commented on #119
No problem. I take it you got it working in the end?

[2021-10-08 08:17] andymantell opened #123 "Documentation improvements"
### Discussed in https://github.com/surevine/govuk-react-jsx/discussions/121

<div type='discussions-op-text'>

<sup>Originally posted by **UPLukeet** October  7, 2021</sup>
I think the install instructions could be much clearer for instance the fact you need to import the gov css file is never mentioned. I also think interaction with components need to take props like a standard react component `

[2021-10-08 08:18] andymantell opened #124 "Type declarations"
### Discussed in https://github.com/surevine/govuk-react-jsx/discussions/122

<div type='discussions-op-text'>

<sup>Originally posted by **UPLukeet** October  7, 2021</sup>
Adding a type declaration would also be very useful!</div>

[2021-10-08 08:22] andymantell commented on #123
See also https://github.com/surevine/govuk-react-jsx/issues/47

[2021-11-25 09:15] PanosParalakis opened #125 "Header rendering bug"
The crown and text are not aligned correctly as can been seen below
<img width="187" alt="Screenshot 2021-11-25 at 09 12 35" src="https://user-images.githubusercontent.com/6704411/143413018-af1c6798-0d1f-4e86-bdbe-a6ce8130ca3c.png">
:

In order to fix it you need to replace `className` to `class` at InnerHTML at govuk/components/header/index.js

[code]

[2021-11-25 09:21] PanosParalakis opened #126 "GovUK Frontend version"
GovUK frontend  dependency version is pointing to an older version `3.13.0` when current version is `3.14.0` which creates NPM upstream dependency conflict when trying to use latest.

[code]

[2021-11-25 14:24] andymantell commented on #126
yep, at the moment this package does not yet support 3.14.0. I will try and find some time soon to get it up to date.

[2021-11-25 14:26] andymantell commented on #125
ohh well spotted. I can see how it happened too - because I had to switch to a slightly different way of rendering that recently.

Thanks for raising this, I'll get it sorted. I'll try and find some time this weekend to take a look at this, and the govuk-frontend version issue you raised.

[2021-12-08 08:32] #126 closed

[2021-12-08 08:38] PanosParalakis commented on #126
Thank you!

[2021-12-08 08:39] andymantell commented on #125
@PanosParalakis Just saw your comment about the second one! I'll get another release out straight away, won't take a second

[2021-12-08 08:52] #125 closed

[2021-12-08 08:57] andymantell commented on #125
Hopefully that should be ok this time @PanosParalakis! Any problems let me know. Cheers.

[2021-12-08 09:03] PanosParalakis commented on #125
Thank you @andymantell!

[2021-12-08 09:10] andymantell commented on #125
You're welcome

[2021-12-15 12:38] dave1976wilson opened #131 "Accessibility issue when using Input with a prefix or suffix"
When using a prefix or suffix on an Input component the label element is not rendered within the same div as the input element and therefore it fails an accessibility check - 'Form elements do not have associated labels'.

[2021-12-16 07:43] andymantell commented on #131
I've had a quick look at this and the following JSX:

[code]

yields this HTML:

[code]

Which looks fine to me. The label is associated with the input with the for/id combination. Label / input association isn't affected by being in the same div or not.

Can you give a bit more detail on what you're seeing? It's a little hard to comment without an example of your issue. What JSX are you using and

[2021-12-16 11:25] dave1976wilson commented on #131
Thank you for your reply. I seem to get the a11y issue with and without the prefix now. I was sure I only saw it when using the prefix. I have attached a screenshot of my html and the lighthouse report. I will assume I am not doing something correctly and will investigate. Thanks again.

<img width="795" alt="Screenshot 2021-12-16 at 11 11 49" src="https://user-images.githubusercontent.com/9593116

[2021-12-16 11:46] andymantell commented on #131
Could you paste the JSX that you're using too?

[2021-12-17 11:41] dave1976wilson commented on #131
Thank you for solving it! I have added an `id` and that has fixed the a11y issue. Thanks again.

[2021-12-17 11:45] stachow opened #132 "Radios/Checkboxes: error in console due to null ref prior to render"
In all other similar instances in the codebase a check is made that the `ref` is not null before initialising the underlying govuk-frontend JS, e.g.
[code]

The null check is missing in the following two places, giving errors in the console when the code runs before first render:

https://github.com/surevine/govuk-react-jsx/blob/94d4ec6013188cee8e267c380060300deaf5eb26/src/utils/Boolean.js#L44

ht

[2021-12-17 15:17] andymantell commented on #131
Ah excellent, I'm glad that sorted it for you.

Out of interest - would you have liked to receive notification somehow that this was the issue? Perhaps a console error or warning?

I'm thinking an error - the resultant html is basically malformed and you wouldn't want to ship it to produciton like that.

[2021-12-17 16:18] andymantell commented on #132
Interesting, this doesn't seem to happen for me. Would you be able to put together a minimal reproduction if it's not too much trouble? No worries if not, but it might speed up a fix if you are able to.

[2021-12-17 16:39] andymantell commented on #132
are you doing something like initialising this component without any items, but then loading in the items later e.g. as the result of an async call? So you get that first empty render happening without any checkboxes present?

[2021-12-20 12:55] dave1976wilson commented on #131
Yes, I guess I would have liked to have received a console warning or error so I didn't post my 'issue'.

[2021-12-20 14:09] stachow commented on #132
Cheers for the response.  This one is very edge-casey. Due to a bug in my code, the radios are put in to the DOM on page load, _then instantly removed_ (thereby upsetting the internal JS leading to the console error).  A repro is below. This is no longer an issue for me as the fix in my code prevents this initial "micro" rendering of the radios.

[code]

[2021-12-20 14:12] stachow commented on #132
BTW - as you may have guessed we are investigating using your library (nice work!), if you search for me on the gov digital slack you'll see which department.  Cheers

[2021-12-21 18:10] andymantell opened #133 "Throw warnings / errors when required data is not passed"
As mentioned in #131 - it's possible to invoke components without all the required data which can sometimes lead to undesirable effects.

We should look into throwing an error or logging a warning to the console in this situation. Perhaps #124 (type declarations) could help with this.

[2021-12-21 18:11] andymantell commented on #131
Thanks @dave1976wilson. I've logged this as #133

[2021-12-21 18:11] #131 closed

[2021-12-21 18:14] andymantell commented on #132
ah thanks for explaining the scenario @stachow. Glad that you've fixed around it for now, but I agree, it would be nice if these components were able to handle such a situation. Should be an easy enough fix - I'll try and get it into the next release when I do the govuk-frontend@4.x upgrade.

[2022-01-26 09:44] andymantell opened #136 "Test with remix.run"
Remix.run looks like it might be a good fit for gov services - with progressive enhancement touted as a core feature. We should check whether it works or whether we need to make any adjustments to suit.

https://remix.run/

[2022-01-29 15:08] #132 closed

[2022-01-29 15:31] andymantell commented on #132
Hi @stachow. This is now fixed in govuk-react-jsx@7.0.0

[2022-03-09 16:42] domhall opened #143 "Inline radio with conditionals renders strangely"
<img width="916" alt="image" src="https://user-images.githubusercontent.com/67909035/157487839-2e43287c-6d8a-4240-9ab5-a974a6b741a9.png">
See the storybook entry: https://govuk-react-jsx.netlify.app/?path=/story/radios--inline-with-conditional-items

Not sure why you would ever want this feature but it is broken on the storybook. It ceases being inline when you select an option also the grey bar f

[2022-03-10 11:38] andymantell commented on #143
Thanks @domhall , good spot! I can see they've been doing some stuff in this area, in this commit:

https://github.com/alphagov/govuk-frontend/commit/d5249619303498a8afca666658318094cdc0eea1

I'll investigate and see what I need to do. I'm slightly puzzled what's happened but either way - they have removed the demo so I will follow suit (Basically I just need to upgrade to govuk-frontend@4.0.1 and

[2022-03-10 13:45] domhall commented on #143
Ah looking like they made it intentionally ugly to discourage breaking the standard. Removing the demo seems like a good shout :)

[2022-03-12 12:43] #143 closed

[2022-04-11 15:42] jpveooys opened #145 "React 18 support"
Hi,

`govuk-react-jsx@7.0.1` has [a peer dependency on `"react": ">=16 <=17"`](https://unpkg.com/browse/govuk-react-jsx@7.0.1/package.json).

If React 18 works, it'd be good to get that updated to include version 18.

If React 18 doesn't work, it'd be good to get it supported.

Note that installing the package currently fails in a new project created with Create React App as recent versions of npm

[2022-04-11 19:05] andymantell commented on #145
Thanks for raising this. I'm actually away this week with no access to any computers (hooray!). I will deal with this for you as soon as I get back though, it shouldn't take a moment.

Hope that's ok. If it's urgent or holding you up, you are welcome to open a PR and I should be able to review and release it from here.

[2022-04-12 08:13] jpveooys commented on #145
Hi,

No rush from me, thanks. I'm simply experimenting and can use React 17 for that.

Thanks

[2022-05-05 11:30] NikhilNanjappa opened #146 "Using certain components hangs react-scripts test"
Hi Andy,

When running my jest tests, the test which uses components like Tabs, Header, Accordion etc hangs with the following error:

[code]

not sure if this will help but all these components have this in common - importing from `await import('govuk-frontend/govuk/components/...'`).

#### What I've tried

I've followed your solution to a similar problem here - https://github.com/surevine/govuk-

[2022-05-05 11:48] andymantell commented on #146
`transformIgnorePatterns` was going to be my suggestion. In a way it's good that that made a difference - shows it's sort of working.

The error you're pointing at though appears to be in your test code. Is this syntax correct? I'm not that familiar with typescript:

[code]

is that colon suppose to be there after the word container? Assuming it is, is there any additional setup you need to do to

[2022-05-05 12:19] NikhilNanjappa commented on #146
Yeah the syntax is correct, `variable_name: type` is the usual way to declare a variable with a type. eg. `name: string`.

Regarding jest, im following https://jestjs.io/docs/getting-started#using-typescript and applied all their suggestions.

[2022-05-05 12:26] andymantell commented on #146
Is there much "actual" typescript in your tests? Could you make it a normal JS file and see if you can get it running?

[2022-05-05 12:31] NikhilNanjappa commented on #146
I understand Andy. Just tried my luck to see if yourself or someone you know came across using `govuk-react-jsx` with typescript

[2022-05-05 12:36] andymantell commented on #146
No worries, and sorry I couldn't be more helpful! Please do post back if you get any further though as it may be a useful reference for anyone encountering similar issues in the future.

Conversely, if you don't make any headway at all, could you stick up a git repository with a minimal reproduction in? I could have a poke at it and see if I can get anywhere.

[2022-05-05 12:42] NikhilNanjappa commented on #146
Yeah, as a matter of fact, I made a headway. I installed and setup the `ts-jest` package as suggested here https://jestjs.io/docs/getting-started#using-typescript.

Now Im getting the exact same error as an issue raised here - https://github.com/surevine/govuk-react-jsx/issues/107

[code]

[2022-05-05 12:45] andymantell commented on #146
Are you able to follow the threads in 107? Are you compiling this for serverside or clientside? It'll be to do with whether your setup is able to cope with the png import statements - whether your loaders are configured correctly.

[2022-05-05 13:27] andymantell commented on #146
Please see https://github.com/surevine/govuk-react-jsx/issues/107#issuecomment-790442147

This should resolve your issue.

[2022-05-05 14:07] NikhilNanjappa commented on #146
Thanks @andymantell - As fate would have it, we had to scrap our react project for non-technical reasons :-D

[2022-05-05 14:08] andymantell commented on #146
Wow, that escalated quickly! Well, good luck anyway :-)

[2022-05-05 14:11] NikhilNanjappa commented on #146
haha yeah ... it was an absolute co-incidence (apparently alpha assessment guys dont like react)

[2022-05-05 14:17] andymantell commented on #146
yeah, that's definitely true. It's on my todo list to put a "health warning" at the top of this readme - this comes up in the X-Gov slack regularly. React often isn't the best tool for the job for building progressively enhanced gov services. Certainly inside gov I would reserve it for use cases that explicitly need to be a SPA.

[2022-05-19 11:29] #145 closed

[2022-05-19 11:30] andymantell commented on #145
This will go out with the next release of the library (Coming soon, since govuk-frontend just got updated)

[2022-05-19 13:11] andymantell opened #148 "Consider how govuk-react-jsx is packaged up as a UMD. Switch to ESM? Both?"
Consider how govuk-react-jsx is packaged up as a UMD. Switch to ESM? Both?

Need to do some research and look at what the current best way is to do this.

See https://github.com/GSS-Cogs/dd-cms/issues/49 where they experienced some issues with the current packaging.

[2022-05-19 13:38] nosnickid commented on #148
Some more details about the problem we had.

We used `surevine/govuk-react-jsx` to build some components for [`plone/volto`](https://github.com/plone/volto), a React frontend for CMS

`plone/volto` in turn uses [`jaredpalmer/razzle`](https://github.com/jaredpalmer/razzle) to run a dev server, to build prod packages, etc.  `razzle` uses `webpack` to provide that functionality.  One of the main reas

[2022-05-19 13:53] andymantell commented on #148
Ah ok that's interesting. And gnarly sounding 😬 Similar discussions went on in #107 - I suspect if you did look at both the webpack configs you would find that one was configured with a loader to handle the image imports and the other wasn't.

Totally appreciate you've got a solution now, and you've largely moved on! But if you do think anything needs changing at my end please let me know and we c

[2022-05-19 14:10] nosnickid commented on #148
Yeah it was a bit hairy - actually I think I said mind bending a few times too :)

Pretty sure I found that ticket back in Feb, along with a few ones about similar NextJS problems.

There is an image loader in the SSR config; the trick was convincing webpack to process `require()`s. It had the same problem in trying to directly require() CSS files in the node side.

I spent some time examining oth

[2022-08-03 11:19] NickColley opened #150 "Ownership"
I now work at Hippo Digital and considering using this project but would like to keep it up to date.
Would you consider giving us stewardship over it in the future?
For the short term I think we'd fork the project and publish it separately but if it works out would be cool to take the npm ownership and keep the original project going.

cc @andymantell

[2022-08-03 11:33] NickColley commented on #150
Think I'll just fork for now. But feel free to DM me on twitter Andy...

[2022-08-03 11:33] #150 closed, assigned to nobody

[2022-08-24 14:13] robValtech commented on #146
Hi @andymantell. I am using `govuk-react-jsx` in a Next 12 environment. I have managed to get past the image loading issue mentioned in [#107](https://github.com/surevine/govuk-react-jsx/issues/107#issuecomment-790442147), and the app renders in SSR and on the client side, however I am struggling to find a solution to get Jest working. Any component that uses anything from `govuk-react-jsx` just s

[2022-08-24 15:41] andymantell commented on #146
Hi @robValtech, please could you open a new issue so that everyone involved in this thread does not get email notifications, as your issue does not appear to be related to the original one in this thread.

When you do, please could you provide a link to the repository that is not working, or if that's not possible, create a public repo with a minimal reproduction in it. Without this I am unable to

[2022-08-25 08:45] robpataki commented on #146
Hi @andymantell , thanks so much for your reply, I really appreciate it knowing you must be very busy! The issue I'm experiencing is more like the one raised in this thread - Jest stuck on tests in [RUN], and never finish. I've managed to solve the issues already discussed on https://github.com/surevine/govuk-react-jsx/issues/102 and https://github.com/surevine/govuk-react-jsx/issues/103. I'm happ